.modalEdit {
  /* border: 3px solid purple; */
  height: 100%;
}

.modalEdit > .blog__creater__wrapper {
  /* border: 3px solid red; */
  height: 100%;
}

.buttons__modalEdit {
  display: flex;
  justify-content: flex-end;
}

.buttons__modalEdit > button {
  padding: 10px 40px 10px 40px;
  display: flex;

  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #e9f5f5 85%,
    #77a1d3 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 300% auto;
  color: white;
  border-radius: 8px;
  border: none;
}

.jodi {
  /* border: 4px solid green; */
}
